 <!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto" style="color:black;font-weight:bold">
            <span>Copyright &copy; CÔNG TY CỔ PHẦN PHẦN MỀM THĂNG LONG</span>
        </div>
        <div class="col-lg-12" style="text-align:center; border:0px solid red; color:blue">
            <div class="hotline_footer">
                <span class="glyphicon glyphicon-phone">
                </span> Hotline:<b> 094 2321 570 - 08 3568 8287</b> Email:<b> hotro.hang@gmail.com</b> &nbsp;
                <span class="glyphicon glyphicon-phone-alt"></span> TTĐH HN:<b> 024.39426200</b>. ĐN:<b> 023. 63820444</b>. SG:<b> 028.35262959</b>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->