 <!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-layer-group"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Cơ Báo <sup>v2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Co bao dien tu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cbDT"
           aria-expanded="true" aria-controls="cbDT">
            <i class="fas fa-fw fa-cog"></i>
            <span>Cơ báo ĐT</span>
        </a>
        <div id="cbDT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tác nghiệp CBĐT:</h6>
                <a class="collapse-item" href="/CoBaoDT/Cobaodt">Cơ báo ĐT</a>
                <a class="collapse-item" href="/CoBaoDT/Doanthongdt">Đoạn thống ĐT</a>
                <a class="collapse-item" href="/CoBaoDT/KTLogicdt">KT Logic ĐT</a>
                <a class="collapse-item" href="/CoBaoDT/XCobaodt">Xuất CBĐT</a>
                <a class="collapse-item" href="/CoBaoDT/XDoanthongdt">Xuất ĐTĐT</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Co bao ga -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cbGA"
           aria-expanded="true" aria-controls="cbGA">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Cơ báo GA</span>
        </a>
        <div id="cbGA" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tác nghiệp CBGA:</h6>
                <a class="collapse-item" href="/CoBaoGA/Cobaoga">Cơ báo GA</a>
                <a class="collapse-item" href="/CoBaoGA/Doanthongga">Đoạn thống GA</a>
                <a class="collapse-item" href="/CoBaoGA/KTLogicga">KT Logic GA</a>
                <a class="collapse-item" href="/CoBaoGA/XCobaoga">Xuất CBGA</a>
                <a class="collapse-item" href="/CoBaoGA/XDoanthongga">Xuất ĐTGA</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Danh muc -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#danhMuc"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Danh mục</span>
        </a>
        <div id="danhMuc" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Các danh mục:</h6>
                <a class="collapse-item" href="/DanhMuc/Lytrinh">Lý trình</a>
                <a class="collapse-item" href="#">Công lệnh SK</a>
                <a class="collapse-item" href="#">Đầu máy</a>
                <a class="collapse-item" href="#">Tài xế</a>
                <a class="collapse-item" href="#">Mác tầu</a>
                <a class="collapse-item" href="#">Hệ số QĐNL</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Bao cao -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#baoCao"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Báo cáo</span>
        </a>
        <div id="baoCao" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Các báo cáo:</h6>
                <a class="collapse-item" href="/BaoCao/Vandung">BC Vận dụng</a>
                <a class="collapse-item" href="/BaoCao/Chitieuktkt">BC Chỉ tiêu KTKT</a>
                <a class="collapse-item" href="/BaoCao/THGiodon">BC Giờ dồn TH</a>
                <a class="collapse-item" href="/BaoCao/CTGiodon">BC Giờ dồn CT</a>
                <a class="collapse-item" href="/BaoCao/SPTNThuchien">BC Tổng hợp SPTN</a>
                <a class="collapse-item" href="/BaoCao/NLThuchien">BC Thực hiện NL</a>
                <a class="collapse-item" href="/BaoCao/NLThanhtich">BC Thành tích NL</a>
                <a class="collapse-item" href="/BaoCao/SPTNDoichieu">BC Đối chiếu SPTN</a>
                <a class="collapse-item" href="/BaoCao/Daumo">BC Dầu mỡ</a>
                <a class="collapse-item" href="/BaoCao/Tinhluong">BK Tính lương</a>
                <a class="collapse-item" href="/BaoCao/Hieuqua">BC Hiệu quả SDĐM</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Nhien leu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#nhienLieu"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Nhiên liệu</span>
        </a>
        <div id="nhienLieu" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Các chức năng NL:</h6>
                <a class="collapse-item" href="/NhienLieu/Loaidm">NL Loại dầu mỡ</a>
                <a class="collapse-item" href="/NhienLieu/Nhacc">NL Nhà cung cấp</a>
                <a class="collapse-item" href="/NhienLieu/Hopdong">NL Hợp đồng</a>
                <a class="collapse-item" href="/NhienLieu/Giadm">NL Giá xuất</a>
                <a class="collapse-item" href="/NhienLieu/Phieunhap">NL Nhập kho</a>
                <a class="collapse-item" href="/NhienLieu/Phieuxuat">NL Xuất kho</a>
                <h6 class="collapse-header">Các báo cáo NL:</h6>
                <a class="collapse-item" href="/NhienLieu/BCNhapkho">BC Nhập kho</a>
                <a class="collapse-item" href="/NhienLieu/BCXuatkho">BC Xuất kho</a>
                <a class="collapse-item" href="/NhienLieu/BCThekho">BC Thẻ kho</a>
                <a class="collapse-item" href="/NhienLieu/BCTonkho">BC Tồn kho</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Ha noi -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#haNoi"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Hà nội</span>
        </a>
        <div id="haNoi" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Các chức năng HN:</h6>
                <a class="collapse-item" href="#">HN Khu đoạn</a>
                <a class="collapse-item" href="#">HN Định mức NL</a>
                <a class="collapse-item" href="#">HN Định mức NLP</a>
                <a class="collapse-item" href="#">HN Định mức DM</a>
                <a class="collapse-item" href="#">HN Phiếu thưởng</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Vinh -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#vinh"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Vinh</span>
        </a>
        <div id="vinh" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Các chức năng VI:</h6>
                <a class="collapse-item" href="#">VI Khu đoạn</a>
                <a class="collapse-item" href="#">VI Định mức NL</a>
                <a class="collapse-item" href="#">VI Định mức MĐ</a>
                <a class="collapse-item" href="#">VI Định mức DM</a>
                <a class="collapse-item" href="#">VI Hệ số tấn</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Sai gon -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#saiGon"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Sài gòn</span>
        </a>
        <div id="saiGon" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Các chức năng SG:</h6>
                <a class="collapse-item" href="#">SG Khu đoạn</a>
                <a class="collapse-item" href="#">SG Định mức NL</a>
                <a class="collapse-item" href="#">SG Hệ số tấn</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->